<% cache message do %>
  <div class="message-name">
    <strong><%= message.user.first_name + " " + message.user.last_name %>:</strong><em class="message-time"> <%= message.created_at.strftime('%b %d %Y %l:%M %p') %></em>
  </div>

  <div class="message">
    <p class="message-body"><%= message.body %></p>
  </div>
<% end %>
