<h1 class="heading">Office Chat <i class="fa fa-comments-o" aria-hidden="true"></i></h1>

<div class="Chat-Room-Wrapper">
  <div id="messages">
    <%= render @messages %>
  </div>

  <%= form_for Message.new, html: { class: 'form-horizontal' }, remote: true do |f| %>
    <div class='message-field'>
      <div class='col-xs-9'>
        <%= f.text_field :body, placeholder: 'Enter Message', class: 'message-input' %>
      </div>
    </div>
  <% end %>
</div>