<h1 class="heading">Office Chat <i class="fa fa-comments-o" aria-hidden="true"></i></h1>

<div class="Chat-Room-Wrapper">
  <div id="messages">
    <%= render @messages %>
  </div>

  <form class="message-field">
    <input type="text" data-behavior="chat_message" class="message-input", placeholder="Enter your name: Message">
  </form>
</div>
