/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: #EFEFEF;
  margin: 0;
  display: table;
  //box-shadow: inset 0 0 490px rgba(0,0,0,.5);
}

.container {
  transition: margin-left .5s;
  padding: 1rem;
  margin-left: 200px;
}

.logo {
  text-align: center;
  margin-top: 5rem;
}

.nav-logo {
  width: 8rem;
  margin-bottom: 5rem;
}

.box {
  text-align: center;
  margin: 10rem auto 10rem auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFFFFF;
  padding: 5px 0px 20px 0px; // rem instead of px
  width: 250px;
  font-family: 'Lato', serif;
}

.field {
  padding: 5px;
}

.actions {
  padding: 5px;
}

.Log-in {
  //background-color: #26bbe0;
  border-radius: 5px;
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #26bbe0;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 1rem 2rem;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.Sign-Out {
  position: fixed;
  bottom: 1rem;
}