// Place all the styles related to the chat_room controller here.
// They will automatically be included in application.css.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

//.Chat-Room-Wrapper {
//  text-align: center;
//  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//  padding: 2rem 10rem;
//  margin: 2rem;
//  background-color: #FFFFFF;
//}

.heading {
  margin-left: 2rem;
}

.message {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #FFFFFF;
  width: 50%;
  font-size: large;
  padding: 1rem;
  margin: 2rem 0 1.5rem 2rem;
  border-radius: 2rem;

  &-input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    width: 80%;
    height: 3rem;
    font-size: 1.3rem;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    bottom: 0;
  }

  &-time {
    float: right;
  }

  &-body {

  }
}

.fa-comments-o:before {
  font-size: xx-large;
}
