.section {
  text-align: center;
}

.form {
  &-box {
    //width: 100px;
    //height: 100px;

    //position: absolute;
    //top:0;
    //bottom: 0;
    //left: 0;
    //right: 0;
    //
    //margin: auto;
  }

  &-heading {
    text-align: center;
  }

  &-subject-input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    width: 50%;
    height: 2rem;
    font-size: large;
  }

  &-body-input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    width: 50%;
    height: 5rem;
    font-size: large;
  }
}

.control {
  //width: 40rem;
}