.section {
  text-align: center;
}

.form {
  &-box {

  }

  &-heading {
    text-align: center;
  }

  &-subject-input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    width: 40%;
    height: 2rem;
    font-size: large;
  }

  &-body-input {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #FFFFFF;
    width: 40%;
    height: 5rem;
    font-size: large;
  }
}

.Email {
  &-box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 3rem;
    background-color: #FFFFFF;
    height: 10rem;
    width: 13rem;
    display: inline-block;
  }
}

.control {
  //width: 40rem;
}