.logo {
  text-align: center;
  margin-top: 5rem;
}

.box {
  text-align: center;
  margin-top: 10rem;
  border: 0.5px solid black;
  margin-left: 35rem;
  margin-right: 35rem;
  background-color: #FFFFFF;
  padding: 5px 0px 20px 0px; // rem instead of px
  border-style: normal;
  border-width: small;
}