<div class="Email-box">
  <% if emails.empty? %>
    <p>Your emails will appear here.</p>
  <% else %>
    <table class="table">
      <thead>
        <tr>
          <th>
            Email Subject
          </th>
        </tr>
      </thead>
      <tbody>
        <%= render emails %>
      </tbody>
    </table>
  <% end %>
</div>

<%= link_to "Send a new Email", new_email_path, class: 'button' %>
