<div class="Email-box">
  <div class="figure">
    <p>
      <strong><%= @email.subject%></strong>
      <small><%= @email.created_at %></small>
    </p>
    <div class="content">
      <%= simple_format @email.body %>
    </div>

    <%= link_to "Edit", edit_email_path, class: 'button is-text' %>

  </div>
</div>
